<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Tuthub - Collaborative Tutorials</title>

    <!-- Stylesheets -->
    <link rel='stylesheet' type='text/css' href='examples/tutdown.css' />

    <!-- Scripts -->
    <!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <!-- Header -->
    <header id="top">
        <h1><span class="logo">T&#x21E3;</span></h1>
    </header>


    <div class="row">

      <!-- Sidebar -->
      <section id="sidebar" class="col sidebar">
        <ul>
        </ul>
      </section>

      <!-- Main Body -->
      <article id="content" class="col content">
        {{{document}}}
      </article>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="assets/tutdown.js"></script>
</body>
</html>
